:root {
  --color-primary: rgb(90, 230, 184);
  --color-primary-darker: #57d0c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Verdana", sans-serif;
  color: black;
  background: rgb(240, 240, 240);
}

.hidden-section {
  opacity: 0;
  transform: translateY(2rem);
}

/* Nav bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  z-index: 100;
  padding-right: 2%;
  padding-left: 2%;
  border-bottom: 0.1rem solid #d0d0d0;
  color: white;
  background: linear-gradient(to right, rgb(7, 7, 7), rgb(60, 60, 60));

  position: fixed;
  top: 0;
}

.nav p {
  font-size: 2.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 2rem;
}

.nav-link {
  padding: 1rem;
}

.nav-link:link,
.nav-link:visited {
  color: inherit;
  text-decoration: none;
}

.nav-link:hover {
  color: aquamarine;
  transition: all 0.3s;
}

.nav-item {
  margin-left: 4rem;
}

.nav-item:last-of-type {
  min-width: 200px;
}

.nav-btn {
  padding: 2rem;
  border-radius: 4rem;
  border-color: aquamarine;
  background-color: aquamarine;
  color: black;
  text-decoration: none;
}

.nav-btn:hover {
  background-color: rgb(98, 194, 162);
  color: white;
  transition: all 0.3s;
}

/* Header */
header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: 120rem;
}

.header-title {
  position: relative;
  top: 3rem;
  font-size: 3rem;
  padding: 2rem;
}

.header-title h4 {
  margin-top: 2.5rem;
}

.header-img {
  position: relative;
  top: 3rem;
  left: 2rem;
  max-height: 80%;
  max-width: 50%;
}

.header-img img {
  max-height: 100%;
  max-width: 100%;
}

/* Highlight */

.highlight {
  position: relative;
  color: white;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -0.1em;
  left: -0.1em;
  height: 100%;
  width: 100%;
  padding: 0.1em;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(
    to top left,
    aquamarine,
    var(--color-primary-darker)
  );
}

/* Sections */
.section {
  min-width: 1050px;
  padding: 3rem 25rem;
  height: 100vh;
  height: calc(100vh - 9rem);

  /* For section revealing on scroll */
  transition: transform 1s, opacity 1s;
}

.section-title h2 {
  color: var(--color-primary);
  font-size: 4rem;
  font-weight: bold;
}

.section-title h3 {
  font-size: 2rem;
}

.section-title {
  display: block;
  margin-bottom: 8rem;
}

/* Second section */
#section-careers .section-title {
  text-align: right;
}

.careers-box {
  height: 80%;
  width: 100%;
  padding: 0 1rem;
  border-radius: 4rem;
  border: 2px solid rgb(182, 182, 182);
  box-shadow: 2px 2px 5px rgb(182, 182, 182);
}

.careers {
  max-width: 90vw;
  margin: 12rem auto 0 auto;

  background-color: #fff;
}

.btn {
  display: inline-block;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 3rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.careers-tab-container {
  display: flex;
  justify-content: center;
}

.careers-tab {
  background-color: #e9e9e9;
  margin-right: 2.5rem;
  transform: translateY(-50%);
  border: 1px solid #9b9b9b;
}

.careers-tab:hover {
  background-color: #d5d5d5;
}

.careers-tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.careers-tab-active {
  background-color: var(--color-primary);
  transform: translateY(-66%);
  border: 1px solid #47a89c;
}

.careers-tab-active:hover {
  background-color: var(--color-primary-darker);
}

.careers-content {
  display: none; /* Inactive tabs not displayed */
}

.careers-content-active {
  display: grid;
  grid-template-columns: 12rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.careers-header {
  font-size: 4rem;
  font-weight: 500;
  align-self: center;
  grid-column: 2;
}

.careers-content p {
  font-size: 2.25rem;
  grid-column: 2;
}

/* Media query */
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }

  .header {
    min-width: unset;
    width: 100%;
    flex-direction: column;
  }

  .header-img {
    width: 80vw;
    min-width: 400px;
  }

  /* TODO: implement nav bar for small screen
  .nav,
  .nav-links {
    display: flex;
    flex-direction: column;
  }

  .nav {
    height: 100vh;
    width: 40%;
    position: relative;
  }
  TODO: remove this .nav conf */
  .nav {
    display: none;
  }

  .section {
    min-width: unset;
    width: 100%;
    padding: 5rem;
  }
}

@media (max-height: 500px) {
  html {
    font-size: 50%;
  }

  header {
    flex-direction: column;
  }

  .header-title {
    height: 50%;
  }

  .header-img {
    height: 50%;
  }

  /* TODO: implement nav bar for small screen and remove this .nav conf */
  .nav {
    display: none;
  }

  .section {
    padding: 5rem;
  }

  .header,
  .section {
    height: 60rem;
  }
}
